@import "tailwindcss";

@theme {
  --color-primary-50: hsl(45, 58%, 97%);
  --color-primary-100: hsl(45, 58%, 90%);
  --color-primary-200: hsl(45, 58%, 80%);
  --color-primary-300: hsl(45, 58%, 70%);
  --color-primary-400: hsl(45, 58%, 65%);
  --color-primary-500: hsl(45, 58%, 60%); /* Base */
  --color-primary-600: hsl(45, 58%, 52%);
  --color-primary-700: hsl(45, 58%, 42%);
  --color-primary-800: hsl(45, 58%, 32%);
  --color-primary-900: hsl(45, 58%, 20%);
}

.loader {
  width: 18px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid;
  border-color: #fff #0000;
  animation: l1 0.7s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: block;
  position: absolute;
  right: 10px;
}

input[type="datetime-local"] {
  appearance: none;
  -moz-appearance: textfield;
}

.vi__character {
  border: none;
  font-size: 20px;
  border-radius: 8px;

  /* light theme */
  color: #667085;
  background-color: #f2f4f7;
  box-shadow: 0 2px 0 #d0d5dd;
}

.vi__character--selected {
  outline: 2px solid #fdc700;
}
